# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# =========================
# IDE / Editors
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Data / Indexes (RAG)
# =========================
data/raw/
data/processed/
#data/indexes/

# Если хочешь оставить структуру папок
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/indexes/.gitkeep

# =========================
# Model / Index files
# =========================
*.pkl
*.index

# =========================
# Logs / cache
# =========================
*.log
.cache/

# =========================
# Environment / secrets
# =========================
.env
.env.*

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
